body {
  background-color: #33FF66;
  font-family: sans-serif;
}
h1 {
  color: #660066;
  border-bottom: 2px solid #660066;
}
h2 {
  color: #660066;
  font-size: 1.2em;
}
hw, P {
  color: #660066;
  margin-left: 100px;
}

